<!DOCTYPE html>
<html lang="ca">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <h1>
            1: <span v-if="si">Sí</span>
        </h1>
        <h1>
            2: <span v-if="no">No</span>
        </h1>
    </div>
    
    <script type="module">
        import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

        const app = createApp({
            data() {
                return {
                si: true,
                no: false
                }
            }
        });

        app.mount('#app');
    </script>
</body>

</html>